
<label>Notes :</label>
<input type="radio" id="rating-5" name="rating" value="5"  (change) = 'changed(5)' /><label for="rating-5" >5</label>
<input type="radio" id="rating-4" name="rating" value="4" (change) = 'changed(4)'/><label for="rating-4" >4</label>
<input type="radio" id="rating-3" name="rating" value="3" (change) = 'changed(3)'/><label for="rating-3" >3</label>
<input type="radio" id="rating-2" name="rating" value="2" (change) = 'changed(2)'/><label for="rating-2" >2</label>
<input type="radio" id="rating-1" name="rating" value="1" (change) = 'changed(1)'/><label for="rating-1" >1</label>

<ul>
  <li *ngFor="let cour of listeCours | myNewPipe : filterNoteValue">
    <h2>{{cour.NomCours}}</h2>
  </li>
</ul>
