<!--<input type="text" class="form-control" name="login" #loginInput="ngModel" [(ngModel)]="user.name" required minlength="5">
<small [hidden]="loginInput.valid || (loginInput.pristine && !editForm.submitted)" class="text-danger">
            Name is required (minimum 5 characters).
          </small>
</div>
</div>
-->

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title" id="myUserLabel">
    Créer ou modifier le profil d'un collaborateur </h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">

    <div class="form-group">

    </div>








    <div class="form-group">






      <label class="form-control-label">Login</label>
      <input type="text" class="form-control" name="login" #loginInput="ngModel" [(ngModel)]="user.login" required minlength=5
       >



      <!--**********************************-->
      <small [hidden]="loginInput.valid || (loginInput.pristine && !editForm.submitted)" class="text-danger">
            Name is required (minimum 5 characters).
          </small>



      <!--**********************************-->


    </div>
    <div class="form-group">
      <label class="form-control-label">Nom</label>
      <input type="text" class="form-control" name="firstName" required #firstNameInput="ngModel" [(ngModel)]="user.firstName" maxlength="50">

 
    </div>
    <div class="form-group">
      <label>Prénom</label>
      <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel" [(ngModel)]="user.lastName" maxlength="50">

    </div>
    <div class="form-group">
      <label class="form-control-label">Email</label>
      <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #emailInput="ngModel" [(ngModel)]="user.email" required maxlength="100">

     
       
        <small  [hidden]="emailInput.valid || (emailInput.pristine && !editForm.submitted)"  class="form-text text-danger">
               Veuillez insérer un mail valide sous la forme  admin@mailserver1
                </small>

 
    </div>
    <!--<div class="form-check">
      <label class="form-check-label" for="activated">
                <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated" name="activated" [(ngModel)]="user.activated">
                <span>Activated</span>
            </label>
    </div>-->

    <div class="form-group">
      <label>Profiles</label>
      <select class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
          
      

  <option value="ROLE_USER">ROLE_Collaborateur</option>
  <option value="ROLE_ADMIN">ROLE_Réferent</option>
            
            </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
           >Cancel</span>
        </button>
    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-danger">
            <span class="fa fa-floppy-o"></span>&nbsp;<span>Valider</span>
        </button>
  </div>
</form>