
<footer>
      <!--Newletter Wrap Start-->
      
      <!--Newletter Wrap End-->

      <!--Footer List Wrap Start-->
      <div class="gt_footer1_bg default_width">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="gt_foo_about gt_widget_hdg">
                  <h5>Our Sevices</h5>
                  <ul>
                      <li><a href="#">Courses</a></li>
                      <li><a href="#">Events</a></li>
                      <li><a href="#">Teachers</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Gdaducation</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="gt_foo_about gt_widget_hdg">
                  <h5>My Account</h5>
                  <ul>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#">Order History</a></li>
                      <li><a href="#">Wishlist</a></li>
                      <li><a href="#">Newsletter</a></li>
                      <li><a href="#">Special</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="gt_foo_about gt_widget_hdg">
                  <h5>Our Support</h5>
                  <ul>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Shipping &#38; Taxes</a></li>
                      <li><a href="#">Return Policy</a></li>
                      <li><a href="#">Site Map</a></li>
                      <li><a href="#">Conatct Us</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="gt_foo_about gt_widget_hdg">
                  <h5>Information</h5>
                  <ul>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Top Sellers</a></li>
                      <li><a href="#">Special Products</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Delivery Information</a></li>
                  </ul>
              </div>
            </div>
          </div>

          <!--Footer Contact Wrap Start-->
         
          <!--Footer Contact Wrap End-->
        </div>
      </div>
      <!--Footer List Wrap End-->

      <!--Copyright Wrap End-->
      <div class="gt_copyright_wrap">
        <div class="container">
            <div class="gt_copyright_des">  
                <p>Copyright © <a href="#">Redlean </a> 2017. All rights reserved.</p>
                <span>Created by: <a href="#">Mochaouch</a></span>
              </div>
          </div>
      </div>
      <!--Copyright Wrap Start-->
    </footer>